body {
	align-items: center;
	padding: 44px 24px 24px 24px;
}

.circle1 {
	top: 1342px; right: -140px; 
	height: 384px;
	max-width: 389px;
}

.circle2 {
	z-index: 1; top: 945px; left: -179px; 
	height: 384px;
	max-width: 389px;
}

.circle3 {
	top: -172px; left: -310px; 
	height: 520px;
	max-width: 525px;
}

.circle4 {
	z-index: 1; top: 601px; right: -140px; 
	height: 381px;
	max-width: 385px;
}

.navbar1 {
	margin-left: 1px; margin-right: unset;
	width: 100%;
}

.row3 {
	z-index: 2;
	gap: 95px;
	color: #fff;
}

.row3 .card-left {
	padding-left: 24px;
	padding-right: 20px;
}

.row3 .card-left .card-circle1 {
	margin-left: 2px;
}

.row4 {
	position: relative; z-index: 3;
	width: 100%;
	max-width: 1280px;
	display: flex;
	align-items: center;
	gap: 116px;
}

.col-left2 {
	width: 383px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 48px;
	flex-shrink: 0;
	text-align: left;
}

.col {
	container: col / inline-size;
	display: flex;
	flex-direction: column;
	gap: 32px;
	align-self: stretch;
}



/* row-g */

.row-g {
	display: flex;
	align-items: center;
	gap: 16px;
}

.row-frame-left {
	width: 90px;
	flex-shrink: 0;
	background: linear-gradient(115deg, rgba(67, 81, 0, 0.2) 1%, rgba(0, 0, 0, 0.2) 57%) top left / auto auto no-repeat, linear-gradient(var(--_191919-2-paints), var(--_191919-2-paints)) top left / auto auto no-repeat;
	padding: 25px;
	border-radius: 16px;
}

.row-col {
	display: flex;
	flex-direction: column;
	gap: 12px;
	flex-grow: 1;
	text-align: left;
}

.row-text-product {
	color: #8c8c8c;
	font-size: 18px;
	font-weight: 400;
	text-transform: capitalize;
	line-height: normal;
}

.row-text-hero {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	text-transform: capitalize;
}
/* end row-g*/


.col-bottom1 {
	container: col-bottom1 / inline-size;
	width: 222px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	color: #fff;
	font-size: 24px;
	font-weight: 500;
}

.subtitle-hero {
	text-transform: capitalize;
}

.row-bottom {
	display: flex;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
}

.img-circle {
	width: 48px;
	flex-shrink: 0;
	border-radius: 50%;
}

.card4 {
	container: card4 / inline-size;
	display: flex;
	flex-direction: column;
	gap: 24px;
	flex-grow: 1;
	text-align: left;
	background-color: #040501;
	padding: 32px;
	border-radius: 16px;
}

.card-subtitle2 {
	color: #fff;
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
}

.input-group {
	display: flex;
	align-items: flex-start;
	gap: 24px;
	color: #4f4f4f;
	font-size: 20px;
	font-weight: 400;
}

.input-group-input-hero-header {
	width: 100%;
	min-height: 56px;
	flex-grow: 1;
	font-style: normal;
	text-transform: capitalize;
	letter-spacing: 0px;
	text-align: left;
	background-color: #101010;
	padding: 15px 24px;
	border-radius: 12px;
}

.card-input-hero1 {
	text-transform: capitalize;
	text-align: left;
}

.card-input-hero2 {
	min-height: 166px;
	flex-shrink: 0;
	text-transform: capitalize;
	text-align: left;
}

.card-frame-bottom {
	position: relative;
	align-self: start;
	color: #000;
	font-size: 18px;
	font-weight: 500;
	background-color: #fff;
	padding: 16px 64px 16px 24px;
	border-radius: 50px;
}

.card-arrow-right2 {
	position: absolute; top: 14px; left: 163px; 
	rotate: -45deg;
	width: 28px; height: unset;
	aspect-ratio: 1 / 1;
}

.card-text2 {
	text-transform: capitalize;
}

.col-bottom2 {
	z-index: 2;
	color: unset;
}

.col-bottom2 .column-line1 {
	margin-top: 24px;
}

.col-bottom2 .column-line2 {
	margin-top: -208px;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1280px) {
	body {
		padding-inline: var(--margin-sm);
	}
	.card4 {
		padding-inline: var(--margin-sm);
	}
}



/* container queries (flex rows) */

@container body (width < 1279px) {
	.row4 {
		flex-direction: column;
		align-items: center;
		gap: 87px;
	}
	.row4 > * {
		text-align: center;
	}
	.row4 > .col-left2 {
		width: 100%;
		max-width: 383px;
		align-items: center;
	}
	.row4 .card-frame-bottom {
		align-self: center;
	}
	.row4 > .card4 {
		width: 100%;
	}
	.row4 > .card4 > * {
		text-align: unset;
	}
}

@container col (width < 382px) {
	.row-g {
		flex-direction: column;
		align-items: center;
		gap: 32px;
	}
	.row-g > * {
		text-align: center;
	}
	.row-g > .row-col {
		width: 100%;
	}
}

@container col-bottom1 (width < 221px) {
	.row-bottom {
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
	.row-bottom > * {
		margin-left: unset !important;
	}
}

@container card4 (width < 716px) {
	.input-group {
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
	.input-group > * {
		text-align: center;
	}
	.input-group > .input-group-hero-header1 {
		width: 100%;
	}
	.input-group > .input-group-hero-header2 {
		width: 100%;
	}
}
